
<table>
    <tbody>
      <tr>
        <!-- <td class="board-blue-box">{{secretWordLetters[0]}}</td> -->
        <td class="board-blue-box" *ngFor="let letter of secretWordLetters">{{letter}}</td>
        <td class="board-blue-box" *ngFor="let letter of userInput">{{letter}}</td>
      </tr>
      <tr>
        <td class="board-blue-box" *ngFor="let letter of secretWordLetters">{{letter}}</td>
      </tr>
      <tr>
        <td class="board-blue-box" *ngFor="let letter of secretWordLetters">{{letter}}</td>
      </tr>
      <tr>
        <td class="board-blue-box" *ngFor="let letter of secretWordLetters">{{letter}}</td>
      </tr>
      <tr>
        <td class="board-blue-box" *ngFor="let letter of secretWordLetters">{{letter}}</td>
      </tr>
      <tr>
        <td class="board-blue-box" *ngFor="let letter of secretWordLetters">{{letter}}</td>
      </tr>
    </tbody>
  </table>
