table {
  border-collapse: collapse;
  background-color: #0177c7;
}

td {
  color: white;
  border: 1px solid #fff;
  width: 63px;
  height: 63px;
  text-align: center;
  font-family: Sofia Sans;
  font-size: 39px;
  text-transform: uppercase;
}

.board-red-box, .current-input:first-of-type {
  background-color: #E70029;
}

.yellow-circle {
  background-color: #FFBD01;
  border-radius: 50%;
}
