
<table>
    <tbody>
      <tr>
        <td class="board-blue-box" *ngFor="let letter of userInput">{{letter}}</td>
      </tr>
      <tr>
        <td class="board-blue-box" *ngFor="let letter of userInput">{{letter}}</td>
      </tr>
      <tr>
        <td class="board-blue-box" *ngFor="let letter of userInput">{{letter}}</td>
      </tr>
      <tr>
        <td class="board-blue-box" *ngFor="let letter of userInput">{{letter}}</td>
      </tr>
      <tr>
        <td class="board-blue-box" *ngFor="let letter of userInput">{{letter}}</td>
      </tr>
      <tr>
        <td class="board-blue-box" *ngFor="let letter of userInput">{{letter}}</td>
      </tr>
    </tbody>
  </table>
