<section>
  <h2>RÈGLES</h2>
  <p>
    Vous avez six essais pour deviner le mot du jour, entre 6 et 9 lettres,
    commun à tous.<br />
    Vous ne pouvez proposer que des mots commençant par la même lettre que le
    mot recherché, et qui se trouvent dans notre dictionnaire.<br />
    Les noms propres ne sont pas acceptés.
  </p>

  <p>exemple</p>

  <p>
    🟥 Les lettres entourées d'un carré rouge sont bien placées<br />
    🟡 Les lettres entourées d'un cercle jaune sont mal placées (mais présentes
    dans le mot).<br />
    🟦 Les lettres qui restent sur fond bleu ne sont pas dans le mot.
  </p>
</section>
